{% comment %}
  Usage:
  {% include 'navbar-chapter' %}

  Dependencies:
  - /assets/bootstrap.bundle.min.js
  - /snippets/icon.liquid
{% endcomment %}

{% for link in linklists[section.settings.main_linklist].links %}
  {% if link.active and link.levels > 0 %}
    <nav class="navbar navbar-chapter navbar-expand navbar-light bg-light">
      <div class="container-fluid">
        <ul class="navbar-nav nav-justified mx-auto">
          {% for childlink in link.links %}
            {% assign childlist_handle = childlink.title | handleize %}

            <li class="nav-item">
              <a class="nav-link" href="{{ childlink.url }}">
                <span class="icon">
                  {% include 'icon' with childlist_handle %}
                </span>
                <span>{{ childlink.title | escape }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  {% endif %}
{% endfor %}